<div class="container mt-4">
    <div class="d-flex align-items-center mb-4">
      <button class="btn btn-success btn-lg shadow-sm" (click)="addQuestion()">
        <i class="bi bi-plus-circle me-2"></i>เพิ่มข้อสอบ
      </button>
    </div>
    <div *ngIf="questions && questions.length > 0; else noData">
    <div *ngFor="let q of questions; let i = index" class="card mb-3 shadow-sm border-0">
        <div class="card-body p-4">
        
        <div class="d-flex justify-content-between align-items-start mb-3">
            <h5 class="card-title fw-bold text-dark mb-0">
            {{ i + 1 }}. {{ q.title }}
            </h5>
            <div class="d-flex gap-2">
            <!--
            <button class="btn btn-outline-warning btn-sm px-3" (click)="editQuestion(q.id)">
                แก้ไข
            </button>
            -->
            <button class="btn btn-danger btn-sm px-3 shadow-sm" (click)="onDelete(q.id)">
                ลบ
            </button>
            </div>
        </div>
    
        <div class="ms-3">
            <div *ngFor="let c of q.choices; let j = index" class="form-check mb-2">
            <input class="form-check-input" type="radio" 
                    [name]="'question' + i" 
                    [id]="'choice' + i + '_' + j" 
                    [checked]="c.isKey" 
                    disabled>
            <label  [for]="'choice' + i + '_' + j">
                {{ c.answerText }}
                <!--<span *ngIf="c.isKey" class="badge bg-success-subtle text-success ms-2" style="font-size: 0.7rem;">เฉลย</span>-->
            </label>
            </div>
        </div>
    
        </div>
    </div>
    </div>
  
    <ng-template #noData>
        <div class="alert alert-light text-center py-5 shadow-sm border">
            <h5 class="text-muted"ฆ>ยังไม่มีข้อมูลข้อสอบในระบบ...</h5>
            <p class="mb-0">กดปุ่ม "เพิ่มข้อสอบ" เพื่อเริ่มสร้างข้อมูลใหม่</p>
        </div>
    </ng-template>
</div>